footer {
  text-align: center;
  padding: 1rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footerText {
  background: transparent;
  text-decoration: none;
  color: white;
}
