.valueDisplayContainer {
  background: linear-gradient(160deg, var(--white), var(--light));
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding: 2rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 1rem 1rem var(--dark-shade);
  flex: 1;
}

.valueDisplayInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.foodTypeInfo {
  font-weight: bold;
  flex: 0;
  white-space: nowrap;
}
.contentValueInfo {
  flex: 1;
  text-align: left;
  margin: 0 20px;
}
.dualBolusInfo {
  flex: 0;
}

.deleteButton {
  font-size: 16px;
  margin: 0 0 0 20px;
}

.resultSymbols {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.textRed {
  color: var(--gb-red);
  -webkit-text-stroke: 1px var(--gb-red-outline);
  text-shadow: 0 0 0.6rem var(--dark);
}

.textGreen {
  color: var(--gb-green);
  -webkit-text-stroke: 1px var(--gb-green-outline);
  text-shadow: 0 0 0.6rem var(--dark);
}

.textWhite {
  color: var(--gb-white);
  -webkit-text-stroke: 1px var(--gb-white-outline);
  text-shadow: 0 0 0.6rem var(--dark);
}

.textYellow {
  color: var(--gb-yellow);
  -webkit-text-stroke: 1px var(--gb-yellow-outline);
  text-shadow: 0 0 0.6rem var(--dark);
}

.textOrange {
  color: var(--gb-orange);
  -webkit-text-stroke: 1px var(--gb-orange-outline);
  text-shadow: 0 0 0.6rem var(--dark);
}
